@use 'app/global/utilities/mixins.module.scss' as mixins;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: var(--font-base);
	font-size: 13.6px;
	scroll-behavior: smooth !important;

	@media (min-width: 1300px) {
		font-size: 13px;
	}
}

body {
	color: var(--color-body);
	background: var(--bg-body);
	font-weight: 400;

	&.body-block {
		overflow: hidden;
	}
}

/**
*----------------------------------------------------------------------
*Textos
*-----------------------------------------------------------------------
*/

a {
	cursor: pointer;
	text-decoration: none;
	color: var(--color-link);
	position: relative;

	&.quiet {
		color: var(--neutral-6);
	}

	&::after {
		content: '';
		position: absolute;
		display: block;
		width: 0;
		height: 1px;
		background: var(--color-link);
		left: 0;
		bottom: -2px;
		transition: var(--transition);
	}

	&.not-decoration {
		&::after {
			display: none;
		}
	}

	&:hover {
		color: var(--color-link);

		&::after {
			width: 100%;
		}
	}
}

.link {
	cursor: pointer;
	text-decoration: none;
	color: var(--color-link);
	position: relative;

	&::after {
		content: '';
		position: absolute;
		display: block;
		width: 0;
		height: 1px;
		background: var(--color-link);
		left: 0;
		bottom: -2px;
		transition: var(--transition);
	}

	&:hover {
		color: var(--color-link);

		&::after {
			width: 100%;
		}
	}
}

p {
	margin-bottom: var(--spacing-M);
	font-size: var(--font-size-M);
	line-height: 1.8rem;
}

b {
	color: var(--color-bold);
	font-weight: var(--font-bold);
}

em {
	font-weight: 600;
}

small {
	font-size: var(--font-size-XS);
}

strong {
	font-weight: var(--font-bold);
}

[disabled] {
	cursor: not-allowed;
}

input {
	color: var(--color-input);
	font-weight: var(--font-weight-inpt-text);

	@at-root .ant-picker #{&} {
		@media (max-width: 767.98px) {
			font-size: 16px !important;
		}

		&::placeholder {
			color: var(--color-label) !important;
		}
	}
}

/**
*----------------------------------------------------------------------
*Table
*-----------------------------------------------------------------------
*/

table {
	background-color: var(--bg-body);
}

td, th {
	&:last-child {
		text-align: center !important;
	}
}


/**
*----------------------------------------------------------------------
*Text Colors
*-----------------------------------------------------------------------
*/

.text_white {
	color: var(--textWhiteColor) !important;
}

.text_hightlight {
	color: var(--textHighlightColor) !important;
}

.text_secondary {
	color: var(--secondary) !important;
}

.text_tertiary {
	color: var(--tertiary) !important;
}

.text_success {
	color: var(--textSuccessColor) !important;
}

.text_warning {
	color: var(--textWarningColor) !important;
}

.text_error {
	color: var(--textErrorColor) !important;
}

.text_info {
	color: var(--textInfoColor) !important;
}

.text_purple {
	color: var(--purple) !important;
}