.main {
	flex-grow: 1;
	padding: 24px;
	transition: margin 0.3s ease-in-out;
	width: 100%;
  }
  
  .mainOpen {
	margin-left: 0;
  }
  
  .mainClosed {
	margin-left: -240px;
  }
  
  @media (max-width: 960px) {
	.main {
	  margin-left: 0 !important;
	  padding: 16px;
	}
  }
  
  .appBar {
	transition: margin 0.3s ease-in-out, width 0.3s ease-in-out;
	width: calc(100% - 240px) !important;
	margin-left: 240px;
	min-height: 64px;
  }
  
  .appBarClosed {
	width: 100%;
	margin-left: 0;
  }
  
  @media (max-width: 960px) {
	.appBar {
	  width: 100% !important;
	  margin-left: 0 !important;
	  min-height: 56px;
	}
  }
  
  .drawer {
	width: 240px;
	flex-shrink: 0;
  }
  
  .drawerPaper {
	width: 240px;
	box-sizing: border-box;
  }
  
  .drawerHeader {
	display: flex;
	align-items: center;
	padding: 0 8px;
	justify-content: flex-end;
	min-height: 64px;
	@media (max-width: 960px){
		min-height: 56px;
	}
  }
  